.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: right;
   }

   @media screen and (max-width: 320px) {
     .footer__copyright {
       text-align: left;
       margin-top: 48px;
       margin-bottom: 24px;
     }
   }